@model ProjetoReceitas.Models.Meal

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Meal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.strMeal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strMeal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strInstructions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strInstructions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strMealThumb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strMealThumb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strTags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strTags)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strYoutube)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strYoutube)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strIngredient1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strIngredient1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strIngredient2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strIngredient2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strIngredient3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strIngredient3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strIngredient4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strIngredient4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strIngredient5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strIngredient5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strIngredient6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strIngredient6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strIngredient7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strIngredient7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strIngredient8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strIngredient8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strIngredient9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strIngredient9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strIngredient10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strIngredient10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strIngredient11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strIngredient11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strIngredient12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strIngredient12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strIngredient13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strIngredient13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strIngredient14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strIngredient14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strIngredient15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strIngredient15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strMeasure1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strMeasure1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strMeasure2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strMeasure2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strMeasure3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strMeasure3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strMeasure4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strMeasure4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strMeasure5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strMeasure5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strMeasure6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strMeasure6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strMeasure7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strMeasure7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strMeasure8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strMeasure8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strMeasure9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strMeasure9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strMeasure10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strMeasure10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strMeasure11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strMeasure11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strMeasure12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strMeasure12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strMeasure13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strMeasure13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strMeasure14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strMeasure14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strMeasure15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strMeasure15)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Voltar", "Index")
</p>
