@model IEnumerable<ProjetoReceitas.Models.Meal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Buscar Receita", "Cadastrar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.strMeal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strInstructions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strMealThumb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strTags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strYoutube)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.strMeal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strInstructions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strMealThumb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strTags)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strYoutube)
        </td>
        
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.idMeal }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idMeal })
        </td>
    </tr>
}

</table>
