@model IEnumerable<ProjetoReceitas.Models.Meal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Buscar Receita", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.strMeal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strInstructions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strMealThumb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strTags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strYoutube)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strIngredient1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strIngredient2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strIngredient3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strIngredient4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strIngredient5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strIngredient6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strIngredient7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strIngredient8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strIngredient9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strIngredient10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strIngredient11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strIngredient12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strIngredient13)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strIngredient14)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strIngredient15)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strMeasure1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strMeasure2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strMeasure3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strMeasure4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strMeasure5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strMeasure6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strMeasure7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strMeasure8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strMeasure9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strMeasure10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strMeasure11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strMeasure12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strMeasure13)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strMeasure14)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strMeasure15)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.strMeal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strInstructions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strMealThumb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strTags)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strYoutube)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strIngredient1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strIngredient2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strIngredient3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strIngredient4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strIngredient5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strIngredient6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strIngredient7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strIngredient8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strIngredient9)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strIngredient10)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strIngredient11)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strIngredient12)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strIngredient13)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strIngredient14)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strIngredient15)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strMeasure1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strMeasure2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strMeasure3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strMeasure4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strMeasure5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strMeasure6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strMeasure7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strMeasure8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strMeasure9)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strMeasure10)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strMeasure11)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strMeasure12)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strMeasure13)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strMeasure14)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.strMeasure15)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idMeal }) |
            @Html.ActionLink("Details", "Details", new { id=item.idMeal }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idMeal })
        </td>
    </tr>
}

</table>
