@using ProjetoReceitas.Models
@model ProjetoReceitas.Models.Receita
@{
    List<ItemIngredienteReceita> ingredientes = ViewBag.ItemIngrediente;
}
<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoRefeicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoRefeicao.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NivelDificuldade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NivelDificuldade.Nome)
        </dd>

        <dt>
            Quantidade
            Unidade de Medida
            Ingrediente
            
            @foreach (var  i in Model.Ingredientes)
            {
                
                    @i.Quantidade
                    @i.UnidadeMedida
                    @i.Ingrediente.Nome
            }
        </dt>


        <dt>
            @Html.DisplayNameFor(model => model.TempoPreparo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempoPreparo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagem)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.ReceitaId }) |
    @Html.ActionLink("Voltar", "Index","Receitas")
</p>
